@media only screen and (max-width: 1200px) {
    .super-flex-container{
        flex-direction:column!important;
    }
    .super-render-wrapper{
        margin-left:0!important;
        margin-right:0!important;
    }
  }
  
  .body{
    overflow: hidden;
  }
.super-flex-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}



.super-generate-wrapper{
    margin-left: 0%;
    width: 450px;
    margin-right: 25px;

    
}

.super-generate-wrapper button{
  background-color: red!important;

}
.super-render-wrapper{
    margin-left: 5%;
    margin-right:5%;
   
}

.generate-wrapper{
    display: flex;
    flex-direction: column;
    overflow: auto;
  
  }

  
  .generate-wrapper button{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .message-wrapper{
    width: 400px;

  }

  .render-wrapper{
    align-items:center;
   
  }

  .Wendys-Button{
  }
  